html(lang="en")
  head
    title= "Login"
  body
    h1=  "Hello User. Welcome to PUG"    
    h3= "Login to get connected"
   

    <form action='/user/submit' method='post'>
      label Username: 
        input(name='username', type='text')
        br 
        br
      label Password: 
        input(name='password', type='password')
        br 
        br
        
       
      input(type="submit" value="Login")
      </form>

      p= "Not registered yet?" 
      a(href="/signup") Signup